imaging==1.1.6
lxml==3.4.1
pyproj==1.9.4
pastescript==1.7.5
software-properties==
shapely==1.5.3
support==
httplib2==0.9
urlgrabber==3.9.1
nose==1.3.4
psycopg2==2.5.4
django==1.7.2
django-downloadview==1.6
django-activity-stream==0.5.1
django-extensions==1.4.9
django-forms-bootstrap==3.0.1
django-friendly-tag-loader==1.2
django-geoexplorer==4.0.4
django-jsonfield==0.9.13
django-pagination==1.0.7
django-taggit==0.12.2
django-taggit-templatetags==0.4.6dev
dialogos==0.4
bs4==
